In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
DATA_FILE = 'data/loan-prediction.csv'

In [24]:
df = pd.read_csv(DATA_FILE)
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [25]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [26]:
df['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [27]:
df.drop(columns=['Loan_ID'], inplace=True)

In [28]:
for column in X.columns:
    if df[column].dtypes == 'object' or column in ['Credit_History', 'Loan_Amount_Term']:
        if df[column].isnull().sum() > 0:
            df[column].fillna(df[column].mode()[0], inplace=True)
            print(column, df[column].mode()[0])

Gender Male
Married Yes
Dependents 0
Self_Employed No
Loan_Amount_Term 360.0
Credit_History 1.0

In [29]:
for column in X.columns:
    if df[column].dtypes != 'object':
        if df[column].isnull().sum() > 0:
            df[column].fillna(df[column].mean(), inplace=True)
            print(column, df[column].mean())

LoanAmount 146.41216216216216

In [31]:
X = df.drop(['Loan_Status'], axis=1)
y = df['Loan_Status']

In [32]:
X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [33]:
from sklearn.preprocessing import MinMaxScaler

X = pd.get_dummies(X)
X = MinMaxScaler().fit_transform(X)

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [40]:
from sklearn.svm import SVC

SVCclassifier = SVC(kernel='rbf', max_iter=500)
SVCclassifier.fit(X_train, y_train)

y_pred = SVCclassifier.predict(X_test)


from sklearn.metrics import accuracy_score
SVCAcc = accuracy_score(y_pred,y_test)
print('SVC accuracy: {:.2f}%'.format(SVCAcc*100))

SVC accuracy: 75.81%

/Users/nguyenvanbinh/Desktop/credit-assessment-microservice/venv/lib/python3.9/site-packages/sklearn/svm/_base.py:299: ConvergenceWarning: Solver terminated early (max_iter=500).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn(